<div class="container" id="login">
	<div class="screen" id="login-screen">
		<div class="screen__content">
			<%= form_with url: '/login', class: "login" do |form| %>
				<div class="login__field">
					<i class="login__icon bi bi-envelope"></i>
					<%= form.email_field :email, class: "login__input", placeholder: "EmailID" %>
				</div>
				<div class="login__field">
					<i class="login__icon bi bi-lock"></i>
					<%= form.password_field :password, class: "login__input", placeholder: "Password" %>
				</div>
                <a class="forgot" href="#">Forgot Password</a>
				
					<%= form.submit "Login", class: "button login__submit"%>
								
			<%end%>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>